<nav class="navbar navbar-expand-lg bg-light px-3">
  <!-- Logo on the Left -->
  <a class="navbar-brand" href="#">
    SwipealStats
  </a>

  <!-- Toggler for Mobile View -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navigation Links -->
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <!-- For Internal Routing -->
        <a class="nav-link" href="/leaderboard" routerLinkActive="active"><i class="bi bi-award me-2"></i>Leaderboard</a>
      </li>
    </ul>
  </div>


</nav>
