<nav class="navbar navbar-expand-lg bg-light px-3">
  <!-- Logo on the Left -->
  <a class="navbar-brand" href="#">
    SwipealStats
  </a>

<!--  &lt;!&ndash; Toggler for Mobile View &ndash;&gt;-->
<!--  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"-->
<!--          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  &lt;!&ndash; Navigation Links &ndash;&gt;-->
<!--  <div class="collapse navbar-collapse" id="navbarNav">-->
<!--    <ul class="navbar-nav ms-auto">-->
<!--      <li class="nav-item">-->
<!--        &lt;!&ndash; For Internal Routing &ndash;&gt;-->
<!--        <a class="nav-link" href="/airlines" routerLinkActive="active"><i class="bi bi-airplane me-2"></i>Билеты в 9ке</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->


</nav>
